@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("/chaiins.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: Nanum Gothic Coding;
}
