.container button {
  margin: 50px 30px;
  border: 1px solid white;
  max-width: 100%;
  width: 100px;
  height: 50px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
}

.container button:hover {
  color: white;
  border: 1px solid white;
  box-shadow:
    0 0 5px white,
    0 0 10px white,
    0 0 15px white;
  text-shadow:
    0 0 5px white,
    0 0 10px white,
    0 0 15px white,
    0 0 20px white,
    0 0 25px white,
    0 0 30px white,
    0 0 35px white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
